* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif;
  color: black;
}

header {
  display: flex;
  background-color: #f8f4eb;
  justify-content: space-between;
  align-items: center;
  padding: 2.4em 30px;
}

a {
  text-decoration: none;
  color: #000;
}

.logo {
  font-weight: bolder;
  font-size: 22px;
  color: #c98300;
  font-style: italic;
}

.hamburger, .mhamburger {
  cursor: pointer;
}

.mhamburger {
  position: inherit;
  top: 30px;
  left: 90%;
}

#mobile-nav {
  position: absolute;
  background-color: #f8f4eb;
  right: 0px;
  left: 0;
  top: 10px;
  height: 350px;
  border: 5px;
}

#mobile-nav a {
  display: block;
  padding: 3em 0;
  text-align: center;
}

.showStyle {
  display: none;
}

nav {
  display: none;
}

nav a {
  padding: 0 40px;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.home-container {
  background: linear-gradient(0deg, #000000cb, #000000b5),
        url("./assets/shopping.jpg") no-repeat center center;
        background-size: cover;
  min-height: 90vh;
  padding:  2em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
}

.home-container h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.5;
}

.home-container p {
  margin-top: .8em;
  line-height: 2.4;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 1em auto;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ffa500;
  border: none;
  margin-top: 27px;
  padding: 1em 2em;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin: 2em auto;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

.shopping_image {
  height: 55vh;
  max-width: 1024px;
  margin: 0 auto;
  background-image: url(./assets/shopping2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-page-content {
  max-width: 1000px;
  margin: 0 auto;
}

.about-page-content h1 {
  padding: .5em;
}

.about-page-content p {
  line-height: 1.3;
  padding: 1em;
}

.about-page-cta {
  padding: .5em 2em;
  background-color: #ffa500;
  display: inline-block;
  margin: 1em;
  border-radius: 5px;
  width: 350px;
  text-align: center;
}

.products {
  max-width: 2000px;
  padding: 2em;
  margin: 0 auto;
}

.product_container {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.products h2 {
  font-size: 1.3em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.product img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.product_details p {
  font-size: 1.3em;
  padding: .3em 0;
  line-height: 1.3;
}

.product_details h6 {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.product-detail-container {
  margin: 1.5em auto;
  max-width: 1024px;
}

.product-detail {
  margin-top: 2em;
}

.product-detail img {
  min-width: 60vw;
  max-width: 1100;
  height: 50vh;
  object-fit: cover;
  margin: 0 auto;
}

.product-detail h2 {
  margin: .6em .5em;
  font-size: 1.9em;
}

.product-detail h4 {
  margin: .6em .5em;
  font-size: 1.4em;
}

.product-detail p {
  margin: .6em .5em;
  padding-right: 4em;
  font-size: 1.2em;
  line-height: 1.6;
}

.product-detail i {
  margin: .6em .5em;
  font-size: 1.2em;
  line-height: 1.6;
  color: #313030;
  margin-right: 2em;
}

.product-detail a {
  display: block;
  margin: .6em .5em;
  font-size: 1.2em;
  line-height: 1.6;
  color: #313030;
  background-color: #ffa500;
  border-radius: 5px;
  padding: .5em 3em;
  font-weight: bold;
  width: max-content;
}

.star {
  margin-bottom: -.3em;
  margin-right: -.3em;
}

.product-detail span {
  color: #008000;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background-color: #313030;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.modal_body-container {
  width: 550px;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 100px;
}

.modal {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  color: #242424;

}

.form_element {
  margin: 3em 0;
}

.form_element label {
  font-weight: bold;
  font-size: .8em;
  margin-right: .4em;
}

.form_element input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #c3c3c3;
  color: #242424;
  width: 380px;
  padding-bottom: .5em;
}

.modal-footer {
  display: flex;
  justify-content: right;
  margin-right: 2em;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.primary-button {
 background-color: #ffa500;
  padding: 1em;
  margin-left: 1em;
}

.open_button {
  background-color: #ffa500;
  padding: .5em 1em;
  width: 150px;
  display: inline-block;
  margin: 1.3em 0 0 1.3em;
}

.backk {
  margin-left: 1em;
}

.secondary_button {
  padding: 0 2em;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .product_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 900px;
  }

  nav {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .product {
    margin: 0 auto;
    max-width: 900px;
  }

  .product img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
  
  .product_details p {
    font-size: 1em;
    padding: .2em 0;
  }
  
  .product_details h6 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px){
  .product_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 0 auto;
    max-width: 1200px;
  }

  nav {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .product {
    margin: 0 auto;
    max-width: 600px;
  }

  .product img {
    height: 250px;
    width: 300px;
  }
  
  .product_details p {
    font-size: 1.2em;
    padding: .3em 0;
  }
  
  .product_details h6 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1300px) {
  .product_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 0 auto;
    max-width: 1500px;
  }

  nav {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .product img {
    height: 250px;
    width: 300px;
    object-fit: cover;
  }
  
  .product_details p {
    font-size: 1.2em;
    padding: .3em 0;
  }
  
  .product_details h6 {
    font-size: 1em;
  }
}
